<!DOCTYPE html>
<html>
  <head>
    <title>Population Info</title>
  </head>
  <body>
    <h1>Search the U.S. Population Table Database</h1>
    <p>This dataset contains information about the number of females and males of each age (0 to 100) in the U.S.</p>
    <p>Dropdown gives you options for what to search for, e.g. ages where female/male population is less than/greater than (population size).  </p><p>Please specify the population size in the text field.</p><br><br><br>
    <h3>Search for:</h3><br>
    <form action="/submitted" method="POST">
      <select name="dropdown">
	<option value="femalelte">Ages of Females With a Population Less Than or Equal To</option>
	<option value="malegte">Ages of Males With a Population Greater Than or Equal To</option>
	<option value="poplte">Ages in which Number of Females OR Number of Males Is Less Than</option>
      </select>
      <br><br>
      Type Population Size Here
      <input name="input"></input>
      <br><br><br>
      <button value="submit">Submit</button>
    </form>
  </body>
</html>
