<!DOCTYPE html>
<html>
  <head>
    <title>Population Info</title>
  </head>
  <body>
    <h1>Search for (dropdown) (population)</h1><br><br>
    <form action="/submitted" method="POST">
      <select name="dropdown">
	<option value="femalelte">Ages of Females With a Population Less Than or Equal To</option>
	<option value="malegte">Ages of Males With a Population Greater Than or Equal To</option>
	<option value="poplte">Ages in which Number of Females OR Number of Males Is Less Than</option>
      </select>
      <br><br>
      Type Population Number Here
      <input name="input"></input>
      <br><br><br>
      <button value="submit">Submit</button>
    </form>
  </body>
</html>
